body {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: #023;
    margin: 0;
}

a {
    color: white;
}

/* Buttons */
button {
    color: white;
    background-color: #379;
    font-weight: bold;
    padding: 4px;
    border: none;
    border-radius: 4px;
}
button:hover {
    background-color: #456;
    filter: brightness(0.85);
    cursor: pointer;
}

/* Login Button */
#login {
    color: #e0e3ff;
    background-color: #5865f2;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}
#login img {
    vertical-align: middle;
    margin-left: 4px;
}
#login:hover {
    filter: brightness(0.85);
}

/* Top Bar */
#topbar {
    background-color: #456;
    display: flex;
    gap: 20px;
}
#topbar strong {
    margin: 0;
    font-size: 1.4rem;
    padding: 10px;
}
#topbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.4rem;
}

/* Location List Table */
#list-menu table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
@media screen and (min-width: 800px) {
    #list-menu {
        width: 80%;
        margin: 20px auto;
    }
}
#list-menu td, th {
    border: 1px solid #379;
}
#list-header {
    background-color: #379;
}
.list-type-a {
    background-color: #722;
}
.list-type-b {
    background-color: #772;
}
.list-type-c {
    background-color: #272;
}
.list-type-d {
    background-color: #267;
}
.list-status-active {
    color: #0f0;
    font-weight: bold;
}
.list-status-built {
    color: #0ff;
    font-weight: bold;
}
.list-status-pending {
    color: #ff0;
}
.list-status-wip {
    color: #bbb;
}
.list-status-invalid {
    color: #f00;
}

/* Notes */
#notes-popup {
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 600px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
}
#notes-popup strong {
    font-size: 1.4rem;
}

.hover {
    text-decoration: dotted underline;
}